#main-nav {
	margin-bottom: 2rem;
}

#footer-nav {
	#footer-nav-list {
		li {
			display: inline-block;
		}
		a {
			height: 100%;
			padding: 0 1rem 0 1rem;
			border-right: 2.5px solid lightgrey;
		}
		li:last-child {
			a {
				border: 0;
			}
		}
	}
}
