#main-nav {
	background-color: $color-main;
}

#footer-nav {
	background-color: $color-main;
	#connect-head {
		font-size: 1rem;
		padding-top: .5rem;
		display: block;
	}
	#footer-nav-list {
		display: block;
		li {
			display: inline-block;
		}
		a {
			height: 100%;
			padding: 0 1rem 0 1rem;
			border-right: 2.5px solid lightgrey;
		}
		li:last-child {
			a {
				border: 0;
			}
		}
	}
}
