* {
	box-sizing: border-box;
}

body {
	background-image: $background-img;
}

#main-content {
	min-height: calc(100vh - 25px);
	background-color: white;
	padding: 2rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	border: 1px solid $color-main;
	border-radius: 5px;
}

#sidebar {
	float: right;
	clear: both;
	height: 24rem;
	border-radius: 0px;
	background-color: $color-main;
	ul {
		background-color: $color-main;
		li {
			background-color: $color-main;
			a {
				color: black;
			}
		}
	}
}

#banner-photo {
	height: 24rem;
	float: left;
	margin-right: 1em;
}
