// colors
$light-grey: #EEEEEE;
$grey-blue: #EDEDFF;
$lav-blue: #B3B3FF;

$color-main: $light-grey;

// images
$vertical-waves: url("../images/vertical-waves.png");
$tileable-wood: url("../images/tileable_wood_texture.png");
$subtle-orange: url("../images/subtle_orange_emboss.png");


$background-img: $vertical-waves;
$banner-img: url("../images/petr-novak.jpg");
